@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.nav_menu {
    position: fixed;
    margin: 20px 0 0 20px;
    /*width: 30%;*/
    z-index: 2;

    display: flex;
    flex-direction: column;
    opacity: 1;
}
.nav_menu a {
    padding: 10px;
    color: black;
    font-size: 20px;
}

.section {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__introduction {
    font-size: 27px;
    margin: 5px;
}
.main__links {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main__links a {
    color: black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
}
.breaker {
    width: 90%;
    border: 2px solid black;
    margin: 50px;
}


.about_me {
    background-image: url("https://images.wallpapersden.com/image/download/synthwave-and-retrowave_a2tpbmyUmZqaraWkpJRmbmdlrWZlbWU.jpg");
    background-size: cover;
    text-align: center;
}
.about_me__block {
    color: white;
    padding: 15px;
    background: #282828;
    opacity: 0.8;
}
.block {
    display: flex;
    width: 100%;
    height: 600px;
    /*background: #9e9e9e ;*/
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}
.block__info {
    width: 60%;
    height: 80%;
    background: #282828 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info_title {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: 30px;
}
.info_block_helper {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.info_block {
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.info_block img {
    width: 50px;
    height: 50px;
}
.block__subInfo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25px;
    padding: 0 0 0 15px;
}
.education {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.post {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}
.post h1{
    font-family: 'Oswald', sans-serif;
}
.post p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 15px 0;
}
.post_details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px -3px gray;
    padding: 20px 0;
}
.post_details a {
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    color: black;
}
.share {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.education_info__year {
    width: 30%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.education_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*justify-content: space-between;*/
    margin-top: 20px;
}

/*hovers*/
.hover_underline::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: black;
    transition: width .30s;
}
.hover_underline:hover::after {
    /*transition: ease-in-out 2ms;*/
    width: 100%;
}
#fp-nav ul li .fp-tooltip {
    color: white;
    padding: 2px;
    background: black;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    border: 1px solid white;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border: 1px solid white;
}

/*MEDIA*/
@media (max-width: 700px) {
    .block {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .block__info {
        width: 100%;
    }
    .block__subInfo {
        width: 100%;
    }
    .education_info {
        margin-top: 0;
    }
    .share {
        width: 50%;
    }
    .main {
        text-align: center;
    }
    .main p {
        margin: 2%;
    }
}
@media (max-width: 500px) {
    .education_info {
        flex-direction: column;
    }
    .post {
        width: 85%;
    }
}