@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
* {margin: 0;padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {text-decoration: none;}

/* Dark mode*/
.dark {
    background: #121212;
    color: white;
}
.dark .block__subInfo {
    color: white;
}
/*Dark mode*/
/*Tab links*/
.section .skills .hide {
    display: none;
}
.section .skills .show {
    display: flex;
}
@-webkit-keyframes resize { from {width: 40%;} to {width: 60%;} }
@keyframes resize {
    from {
        width: 40%;
    }
    to {
        width: 60%;
    }
}

.fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
}
@-webkit-keyframes fade { from {opacity: 0.2;} to {opacity: 1;} }
@keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

/*Tab links*/
.section {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__introduction {
    font-size: 27px;
    margin: 5px;
}
.main__links {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    word-wrap: break-word;
}
.main__links a {
    color: black;
    cursor: pointer;
    font-size: calc(0.5rem + 1vw);
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    transition: 0.8s;
}
.breaker {
    width: 90%;
    border: 2px solid black;
    margin: 50px;
}

.header_tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #282828;
}
.header_tab__link {
    color: white;
    padding: 25px 0px;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.about_me {
    background-image: url("https://images.wallpapersden.com/image/download/synthwave-and-retrowave_a2tpbmyUmZqaraWkpJRmbmdlrWZlbWU.jpg");
    background-size: cover;
    text-align: center;
}
.about_me__block {
    color: white;
    padding: 15px;
    background: #282828;
    opacity: 0.8;
}
.about_me__block h1{
    font-size: 2vw;
}
.block {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}
.block__info {
    width: 60%;
    height: 80%;
    background: #282828 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info_title {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: 30px;
}
.info_block_helper {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.info_block {
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.info_block img {
    width: 50px;
    height: 50px;
}
.block__subInfo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 21px;
    margin: calc(10px + 1vw);
}
.education {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.post {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}
.post h1{
    font-family: 'Oswald', sans-serif;
}
.post p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 15px 0;
}
.post_details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px -3px gray;
    padding: 20px 0;
}
.post_details a {
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    color: black;
}
.share {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.education_info__year {
    width: 30%;
    display: flex;
    align-items: center;
}
.education_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts__info {
    margin: 5%;
}
.contacts__feedback {
    width: 30%;
}
.contacts__feedback label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts__feedback button {
    padding: 15px;
    background: aquamarine;
    color: black;
    border: none;
    cursor: pointer;
}
.footer {
    background: #282828;
    color: white;
    margin: 0 auto;
    padding: 0;
}
.contacts__feedback form button {
    background: #121212;
    color: white;
    font-family: "Roboto Thin";
    width: 100%;
}
/*hovers*/
.main__links a:hover{
    background: black;
    color: white !important;
    transition: 0.8s;
}

.hover_underline::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: black;
    transition: width .30s;
}
.hover_underline:hover::after {
    /*transition: ease-in-out 2ms;*/
    width: 100%;
}

/*hovers*/
/*fullpage js*/
#fp-nav ul li .fp-tooltip {
    color: white;
    padding: 2px;
    background: black;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    border: 1px solid white;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border: 1px solid white;
}
/*fullpage js*/

/*MEDIA*/
@media (max-width: 700px) {
    .block {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .block__info {
        width: 100%;
    }
    .block__subInfo {
        width: 90%;
    }
    .education_info {
        margin-top: 0;
    }
    .share {
        width: 50%;
    }
    .main {
        text-align: center;
    }
    .main p {
        margin: 2%;
    }
    .post h1{
        font-size: 2vw;
    }
    .post p {
        font-size: 3vw;
    }
    .post h1{
        font-size: 4vw;
    }
    .about_me__block h1{
        font-size: 4vw;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .contacts__feedback {
        width: 70%;
    }
    .contacts__info {width: 70%}
    .contacts__feedback input textarea {

        min-width: 200px;
        max-width: 300px;
    }
}
@media (max-width: 500px) {
    .education_info {
        flex-direction: column;
    }
    .post {
        width: 85%;
    }
}
/*MEDIA*/